body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #ffffff, #e0eafc);
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 80px;
}

.explore-container {
    max-width: 800px;
}

.header h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333333;
}

.card, .creative-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card h2, .creative-section h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #F0B90B;
}

.card p, .creative-card p {
    margin: 0 0 20px;
    font-size: 1em;
    color: #666666;
}

.creative-section {
    margin-top: 20px;
}

.creative-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary {
    background-color: #F0B90B;
    color: #ffffff;
    border: none;
}

.btn-primary:hover {
    background-color: #e0a807;
    transform: translateY(-3px);
}

.btn-secondary {
    background-color: #ffffff;
    color: #F0B90B;
    border: 2px solid #F0B90B;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #F0B90B;
    color: #ffffff;
    transform: translateY(-3px);
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #666666;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.nav-item {
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.nav-item img {
    width: 24px;
    height: 24px;
}

.nav-item span {
    display: block;
    font-size: 0.75em;
    margin-top: 5px;
}
